* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  margin: 0;
  padding: 0;
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
  background-color: #3563ab;
  padding: 15px;
}

.search-form input {
  height: 40px;
  padding: 5px;
}

.search-form button {
  display: inline-block;
  height: 40px;
  cursor: pointer;

  background-color: #2196f3;
  border: none;
  border-radius: 8px;
  font-family: inherit;
}

.search-form button:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

    background-color: #188ce8;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.photo-card {
  flex-basis: calc((100% - 45px) / 4);
  border: 2px solid #e5e5e5;
}

.photo-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.photo-card:not(:nth-child(4n)) {
  margin-right: 15px;
}

.photo-card:not(:nth-last-child(-n + 4)) {
  margin-bottom: 15px;
}

img {
  display: block;
  width: 100%;
  height: 305px;

  margin-bottom: 5px;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  /* text-align: center; */
}

p {
  margin: 0;
  text-align: center;
}

.info-item:not(:last-child) {
  margin-right: 15px;
}
